<a class="link-info" [routerLink]="'../studentregistration'">Create Student Info</a>


<p-table [value]="data1" [scrollable]="true" scrollHeight="300px"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[3,3,50]">
    <!-- <ng-template pTemplate="caption">
        Header
    </ng-template> -->
    <ng-template pTemplate="header">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">SchoolId</th>
            <th scope="col">Grade</th>
            <th scope="col">Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-val>
        <tr>
            <td>{{val.id}}</td>
            <td>{{val.name}}</td>
            <td>{{val.schoolId}}</td>
            <td>{{val.grade}}</td>
            <td>
                <a class="link-info" (click)="DeleteStudent(val.id)">Delete</a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>